.room-box {
  height: 8em;
  width: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.room-box-selected {
  border: 3px solid #000;
}

.room-box-free {
  background-color: #5c5c5c;
}

.room-box-taken {
  background-color: rgb(255, 174, 44);
}

.room-box-overtime {
  background-color: rgb(152, 5, 5);
}
